<!DOCTYPE html>

<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <link rel="styles.css" href="/home/ritik2703/Desktop/Nodejs/web-server/public/css/styles.css">
        <script src=".public/js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <h1>{{errormsg}}</h1> 
        </div>
      
        {{>footer}}
    </body>
</html>